body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .superstructure {
    background-color: blue;
  }
  
  .base {
    background-color: green;
  }
  
  .details-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .details-title {
    margin-bottom: 10px;
  }
  
  .details-image {
    max-width: 100%;
    max-height: 200px;
  }

.close-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    display: block; /* Ensure the button is a block element */
    margin: 10px auto; /* Center the button horizontally */
  }
  
  